Our Mind is Not a Storage Device it is a Thinking Device

In [1]:
#ESCAPE SEQUENCE
print("welcome to python world")

welcome to python world

In [2]:
print("welcome to \npython world")

welcome to
python world

In [3]:
print("welcome to \"python world\"")

welcome to "python world"

In [4]:
print("welcome to \t python world")

welcome to 	 python world

In [5]:
print("hello")
print("Indore")

hello
Indore

In [6]:
print("hello\nIndore")

hello
Indore

In [7]:
print("hello\tIndore")

hello	Indore

In [8]:
print("*\n**\n***")

*
**
***

In [9]:
print("*\n*\t*\n  *")

*
*	*
  *

## variable :-
it is reversed memory location or data/values can be stored in temporary storage spaces called variables

In [10]:
student = 'aman'

In [11]:
student

'aman'

## Data type :-
every variable is associated with data-type

In [12]:
type(student)

str

In [13]:
a1 = 6.5

In [14]:
type(a1)

float

## Operators
Arithmetic operators +,-,*,/

In [15]:
a = 10
b = 5

In [16]:
print(a,b)

10 5

In [17]:
a+b

15

In [18]:
a*b

50

### Relational operator <,>,==,!=

In [19]:
a>b

True

In [20]:
a==b

False

### Assignment operator   =,-=,+=,/=,%=,**=

In [21]:
a =a+20
print(a)

30

In [22]:
a = 10                #a = a+5

a +=5
print(a)

15

### Logical operator  
not,and,or

In [23]:
a = 10
print(not(a>5))

False

In [24]:
# Bitwise Operator

'''
&   Bitwise and
|   Bitwise or
^   Bitwise xor
<<  Bitwise left shift
>>  Bitwise right shift
'''

'\n&   Bitwise and\n|   Bitwise or\n^   Bitwise xor\n<<  Bitwise left shift\n>>  Bitwise right shift\n'

### Member ship operator
in,
not in

In [25]:
v1="better as you are"
print("as" in v1)

True

In [26]:
v1="better as you are"
print("as" not in v1)

False

### Identity operator
is,
not is

In [27]:
a=b=10
a is b

True

In [28]:
a =10
b ='10'
print(a is b)

False

In [29]:
print(a is not b)

True

### User input

In [30]:

a= input()
print("you have entered: ",a)

shyam
you have entered:  shyam

In [31]:
a =input("enter first name:")
b =input("enter last name:")
c = a+b
print(c)

enter first name:yash
enter last name:rathore
yashrathore

In [32]:
a =int(input("enter first number:"))
b =int(input("enter second number:"))
c = a+b
print(c)

enter first number:10
enter second number:20
30

In [33]:
# if statement

if 5>2:
    print("Greater")

Greater

In [34]:
if 5<2:
    print("lesser")
    print("5 is greater than 2 ")

print("condition false")

condition false

In [35]:
a =int(input("enter number greater than 2:"))
if (a>2):
    print("you have entered:",a)

enter number greater than 2:5
you have entered: 5

### Nested if statement

In [36]:

if 5>2:
    print("it's greater")
    if 6>2:
        print("greater")

it's greater
greater

In [37]:
if 5<2:
    print("it's greater")
    if 6>2:
        print("greater")
print("not right")

not right

In [38]:
a = int(input("enter greater than 2:"))
b = int(input("enter greater than 5 :"))
if a>b:
    print("you have entered :",a)
    if b>a:
        print("you have entered",b)

enter greater than 2:5
enter greater than 5 :12

### if else statement

In [39]:
if 5>2:
    print("it's greater")
else:
    print("Incorrect")

it's greater

In [40]:
c= int(input("Enter greater than 50:"))
if c>50:
    print("you have entered correct",c)
    
    
    a= int(input("Enter greater than 5:"))
    if a>5:
        print("you have entered correct",a)
    else:
        print("Incorrect!",a)
        
    b= int(input("Enter greater than 10:"))
    if b>10:
        print("you have entered correct",b)
    else:
        print("Incorrect!",b)
        
    print("all values are correct",a,b,c)
else:
    print("Incorrect",c)

Enter greater than 50:80
you have entered correct 80
Enter greater than 5:8
you have entered correct 8
Enter greater than 10:14
you have entered correct 14
all values are correct 8 14 80

In [41]:
a= int(input("enter the first number 1?"))
b= int(input("enter the first number 2?"))
c= a*2-b
print("the output is",c)
if c<0:
    print("the number is negative")
else:
    print("your output",c)

enter the first number 1?8
enter the first number 2?3
the output is 13
your output 13

### if elif statement

In [42]:

a=30
b=20
a,b

(30, 20)

In [43]:
a =int(input("enter the number:"))
if a>b:
    print("a is greater than b:",a)
elif a==b:
    print("a is equal to b:",a,b)
elif a<b:
    print("a is less than b:",b)

enter the number:12
a is less than b: 20

In [44]:
day = input("Enter the day")
if(day=="Monday" or day =="monday"):
    print("Today is monday")
elif(day=="Tuesday" or day =="tuesday"):
    print("Today is tuesday")
elif(day=="Wednesday" or day=="wednesday"):
    print("Today is wednesday")
else:
    print("Today is Holiday")

Enter the daywednesday
Today is wednesday

In [45]:
a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c= a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>50:
    print("the different is huge")
else:
    print("the number is positive")

enter the number 1?20
enter the number 2?40
the output is -20
the number is negative

### range function

In [46]:
a = range(5,0,-1)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

5
4
3
2
1

In [47]:
a = range(0,6,1)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

0
1
2
3
4

### While Loop

In [48]:
a=1
while a<=5:
    print(a)
    a+=1

1
2
3
4
5

In [49]:
i = 0
while i<=6:
    print(i)
    i+=1

0
1
2
3
4
5
6

In [50]:
i = 0
while i<=6:
    print(i)
    i+=1
else:
    print("value is overfitted")

0
1
2
3
4
5
6
value is overfitted

### Break

In [51]:
i = 0
while i<=6:
    print(i)
    i+=1
    if i ==5:
        break

0
1
2
3
4

### continue statement

In [52]:
i = 0
while i<=6:
    i+=1
    if i ==3:
        continue
    print(i)

1
2
4
5
6
7

### Nested while loop

In [53]:

i =1
while i<=3:
    print("outer loop",i)
    i+=1
    
    j =1
    while j<=4:
        print("inner loop",j)
        j+=1

outer loop 1
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop 2
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop 3
inner loop 1
inner loop 2
inner loop 3
inner loop 4

In [54]:
i=1
while i<=3:
    i+=1

    j=1
    while j<=12:
        print (i*j)
        j +=1
    print("\n")

2
4
6
8
10
12
14
16
18
20
22
24


3
6
9
12
15
18
21
24
27
30
33
36


4
8
12
16
20
24
28
32
36
40
44
48

In [55]:
i=1
while i<=3:
    i+=1

    j=1
    while j<=5:
        print (i,"*",j,'=',i*j)
        j +=1
    print("\n")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

### For loop

In [56]:

a =range(2,6,1)
for i in a:
    print(i)

2
3
4
5

In [57]:
st = "yashrathore"
n =len(st)
for i in range(n):
    print(i,"-",st[i])

0 - y
1 - a
2 - s
3 - h
4 - r
5 - a
6 - t
7 - h
8 - o
9 - r
10 - e

In [58]:
var = ['pop','rock','fly']
for i in range(len(var)):
    print('i like',var[i])

i like pop
i like rock
i like fly

In [59]:
student_name = input("enter the name: ")
marks = {'jay':60,'veer':80,'sham':50}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print("No entry with that name found")

enter the name: veer
80

# String

In [60]:
str_name = 'yashrathore'
n = len(str_name)
for i in range(n):
    print(i,"-",str_name[i])

0 - y
1 - a
2 - s
3 - h
4 - r
5 - a
6 - t
7 - h
8 - o
9 - r
10 - e

In [61]:
str1 = "my data science life"
str2 = "is best forever"

In [62]:
str1+" "+str2

'my data science life is best forever'

In [63]:
name = input("enter your name : ")
print(name)

enter your name : ram
ram

## string formating

In [64]:


first_name = input("what is your first name : ")
last_name = input("what is your last name : ")
print("my first_name is {first} and last_name is {last}".format(last =last_name,first=first_name))

what is your first name : prans
what is your last name : raghuwanshi
my first_name is prans and last_name is raghuwanshi

In [65]:
4 +float(5)

9.0

In [66]:
'day'+str(4)

'day4'

In [67]:
str3 = ''' 
this is my 
first programming
language'''

str3

' \nthis is my \nfirst programming\nlanguage'

In [68]:
str1= "yash"
str2= "yash"
print(id(str1))
print(id(str2))

2027707310128
2027707310128

In [69]:
string = 'yash rathore'
print(string[0:4] * 5)

yashyashyashyashyash

In [70]:
str4 = 'yash rathore'
str4.lower()

'yash rathore'

In [71]:
str4 = 'yash rathore'
str4.upper()

'YASH RATHORE'

In [72]:
str4 = 'yash rathore'
str4.swapcase()

'YASH RATHORE'

In [73]:
str4 = 'yash rathore'
str4.title()

'Yash Rathore'

In [74]:
str4 = 'yashrathore'
str4.isupper()

False

In [75]:
str4 = 'yashrathore'
str4.islower()

True

In [76]:
str4.count('a')

2

In [77]:
str4.find('o')

8

## Replace and Split

In [78]:
name = 'yashrathore'
old = 'yash'
new = 'Harsh'
name.replace(old,new)

'Harshrathore'

In [79]:
name = 'yashrathore'
print(name.replace('yash','harsh'))

harshrathore

In [80]:
name = 'yashrathore'
name.split('a')

['y', 'shr', 'thore']

In [81]:
name = 'yash rathore'
name.split(' ')

['yash', 'rathore']

In [82]:
name = 'Hello!','yash','how','are','you'
print('_'.join(name))

Hello!_yash_how_are_you

# List

In [83]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
lst1

[10, 20, 30, 'yash', 'aman', 10.5, 20.5]

In [84]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
for i in lst1:
    print(i)

10
20
30
yash
aman
10.5
20.5

In [85]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n =len(lst1)
for i in range(n):
    print(i,"-",lst1[i])

0 - 10
1 - 20
2 - 30
3 - yash
4 - aman
5 - 10.5
6 - 20.5

In [86]:
l1 = [1,2,3,4,5,6,7,8]
print("before condition",l1)
l2=[]
for i in l1:
    if i<5:
        l2.append((i+i,i**2))
    print('after condition',l2)

before condition [1, 2, 3, 4, 5, 6, 7, 8]
after condition [(2, 1)]
after condition [(2, 1), (4, 4)]
after condition [(2, 1), (4, 4), (6, 9)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]

In [87]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n = len(lst1)
i=0
while i<n:
    print(i,"-",lst1[i])
    i+=1

0 - 10
1 - 20
2 - 30
3 - yash
4 - aman
5 - 10.5
6 - 20.5

### append method

In [88]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n = len(lst1)
lst1.append(44)
for i in range(n):
    print(i,"-",lst1)

0 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
1 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
2 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
3 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
4 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
5 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
6 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]

In [89]:
lst2 = []
print(lst2)
n = int(input("enter your values:"))
for i in range(n):
    lst2.append(int(input("enter number:")))
print(lst2)

[]
enter your values:5
enter number:10
enter number:20
enter number:30
enter number:40
enter number:50
[10, 20, 30, 40, 50]

In [90]:
lst2 = []
print(lst2)
n = int(input("enter your values:"))
for i in range(n):
    lst2.append(int(input("enter number:")))

print('list:')
for i in lst2:
    print(i)

[]
enter your values:5
enter number:10
enter number:20
enter number:30
enter number:40
enter number:50
list:
10
20
30
40
50

### Insert method

In [91]:
a = [10,20,30,40]
a.insert(1,'yash')
for i in a:
    print(i)

10
yash
20
30
40

In [92]:
a = [10,20,30,40]
a.insert(1,'yash')
print(a)

[10, 'yash', 20, 30, 40]

### POP method

In [93]:
a = [10,20,30,40]
a.pop()

40

In [94]:
a = [10,20,30,40]
a.pop(1)

20

### Index method

In [95]:
a = [10,20,30,40]
a.index(30)

2

### Reverse method

In [96]:
a = [10,20,30,40]
a.reverse()
print(a)

[40, 30, 20, 10]

### extend method

In [97]:
a = [10,20,30,40]
b = [40,50,60]
a.extend(b)
print(a)

[10, 20, 30, 40, 40, 50, 60]

### Count method

In [98]:
a = [10,20,30,40,10,50,10]
a.count(10)

3

### Clear method

In [99]:
a = [10,20,30,40]
a.clear()
print(a)

[]

### Slicing method

In [100]:
f =[10,20,'jai','shambhu',30,40]
f[:]

[10, 20, 'jai', 'shambhu', 30, 40]

In [101]:
f =[10,20,'jai','shambhu',30,40]
a = f[:4:2]
a

[10, 'jai']

In [102]:
f =[10,20,'jai','shambhu',30,40,50]
a =f[2:5]

for i in a:
    print(i)

jai
shambhu
30

In [103]:
f =[10,20,'jai','shambhu',30,40]
f[0:-5]

[10]

In [104]:
f =[10,20,'jai','shambhu',30,40]
f[-4:-1]

['jai', 'shambhu', 30]

### Nested List

In [105]:
f =[10,20,30,40,[50,60,70,80]]
print(f[1])
print(f[4])
print(f[4][1])
print(f[1:5])

20
[50, 60, 70, 80]
60
[20, 30, 40, [50, 60, 70, 80]]

In [106]:
f =[10,20,30,40,[50,60,70,80]]
f[4][3]=90
f

[10, 20, 30, 40, [50, 60, 70, 90]]

In [107]:
f =[[10,20,30,40],[50,60,70,80]]
print(f[0])
print(f[1])

[10, 20, 30, 40]
[50, 60, 70, 80]

In [108]:
f =[10,20,30,40,[50,60,70,80]]
n=len(f)
for i in range(n):
    if type(f[i]) is list:
        if len(f[i])>1:
            k=len(f[i])
        for j in range(k):
            print(i,j,f[i][j])
        else:
            print(i,f[i])

4 0 50
4 1 60
4 2 70
4 3 80
4 [50, 60, 70, 80]

In [109]:
f =[[10,20,30,40],[50,60,70,80]]

for i in f:
    for j in i:
        print(j)
    print()

10
20
30
40

50
60
70
80

In [110]:
f =[[10,20,30,40],[50,60,70,80]]
n =len(f)
for i in range(n):
    
    for j in range(len(f[i])):
        print(i,j,f[i][j])
    print()

0 0 10
0 1 20
0 2 30
0 3 40

1 0 50
1 1 60
1 2 70
1 3 80

In [111]:
f =[[10,20,30,40],[50,60,70,80]]
n =len(f)
i =0
while i<n:
    j=0
    while j<len(f[i]):
        print(i,j,f[i][j])
        j+=1
    i+=1

0 0 10
0 1 20
0 2 30
0 3 40
1 0 50
1 1 60
1 2 70
1 3 80

### passing a list to function

In [112]:
def show(l):
    print(l)
    print(type(l))
    for i in l:
        print(i)
lst= [10,20,30,40,"yash"]

In [113]:
show(lst)

[10, 20, 30, 40, 'yash']
<class 'list'>
10
20
30
40
yash

In [114]:
def show(l):
    print(l)
    print(type(l))
    for i in l:
        print(i)
    return l

lst = [10,20,30,'veer']
new_lst =show(lst)
print(new_lst)
print(type(new_lst))

[10, 20, 30, 'veer']
<class 'list'>
10
20
30
veer
[10, 20, 30, 'veer']
<class 'list'>

In [115]:
a = list(range(0,6))
print(a)

[0, 1, 2, 3, 4, 5]

# Tuple

In [116]:
t =()
type(t)

tuple

In [117]:
T =(10,20,30,40,50)
print(T)
type(T)

(10, 20, 30, 40, 50)

tuple

In [118]:
T =(10,20,30,40,50)
n =len(T)

for i in range(n):
    print(i,"-",T[i])

0 - 10
1 - 20
2 - 30
3 - 40
4 - 50

In [119]:
T =(10,20,30,40,50)
n =len(T)
i=0

while i<n:
    print(i,"-",T[i])
    i +=1

0 - 10
1 - 20
2 - 30
3 - 40
4 - 50

In [120]:
tup = []
n = int(input("enter number of elements:"))

for i in range(n):
    tup.append(int(input("enter elements:")))
    
    
print(type(tup))
b = tuple(tup)
print(type(b))

print("tuple:")
for element in tup:
    print(element)

enter number of elements:6
enter elements:4
enter elements:8
enter elements:6
enter elements:2
enter elements:5
enter elements:9
<class 'list'>
<class 'tuple'>
tuple:
4
8
6
2
5
9

# Set

In [121]:
S = set()
print(S)
type(S)

set()

set

In [122]:
S ={10,20,"yash"}
S.add('rathore')
print(S)

{'yash', 10, 20, 'rathore'}

In [123]:
S ={10,20,"yash"}
print(S)
print(type(S))

{'yash', 10, 20}
<class 'set'>

In [124]:
S ={10,20,"yash"}
S.update((30,40,"raj"))
print(S)

{40, 10, 'yash', 20, 30, 'raj'}

In [125]:
s = set()
n = int(input("enter number of elements:"))

for i in range(n):
    a = input("enter element:")
    s.add(a)
    
for i in s:
    print(i)

enter number of elements:4
enter element:5
enter element:6
enter element:7
enter element:8
5
6
8
7

In [126]:
S ={10,20,"yash",50}
print(S)
print(id(S))
print()

new =S.copy()
print("after copy",new)
print(id(S))

{'yash', 10, 20, 50}
2027707783872

after copy {'yash', 10, 20, 50}
2027707783872

### Dictionary

In [127]:
dic = {10:"yash",20:"pranshul",30:"radhika"}
print(dic)
print(dic[20])
print(dic[30])

{10: 'yash', 20: 'pranshul', 30: 'radhika'}
pranshul
radhika

### Modify

In [128]:
my_dic = {10:"yash",20:"pranshul",30:"radhika"}
print("before modification:")
print(my_dic)
print(id(my_dic))
print()

my_dic[10]="pinky"
print("after modification:")
print(my_dic)
print(id(my_dic))

before modification:
{10: 'yash', 20: 'pranshul', 30: 'radhika'}
2027707847488

after modification:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}
2027707847488

### Addition

In [129]:
my_dic1 = {10: 'pinky', 20: 'pranshul', 30: 'radhika'}
print("before adding:")
print(my_dic1)
print()

my_dic1[40]="yash"
print("after adding:")
print(my_dic1)

before adding:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}

after adding:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

### Delete

In [130]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("before deleting:")
print(my_dic2)
print()

del my_dic2[30]
print("after deleting:")
print(my_dic2)
print()

before deleting:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after deleting:
{10: 'pinky', 20: 'pranshul', 40: 'yash'}

### Testing key

In [131]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print(20 in my_dic2)

True

In [132]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print(30 not in my_dic2)

False

### Clear

In [133]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("before clear:")
print(my_dic2)
print()

my_dic2.clear()
print("After clear:")
print(my_dic)
print()

before clear:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

After clear:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}

### Copy

In [134]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print(id(my_dic2))
print()

new = my_dic2.copy()
print("copy dic:")
print(new)
print(id(new))
print()

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
2027707847616

copy dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
2027707758144

### item

In [135]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

dic = my_dic2.items()
print(dic)
print(type(dic))

for i in dic:
    for j in i:
        print(j)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

dict_items([(10, 'pinky'), (20, 'pranshul'), (30, 'radhika'), (40, 'yash')])
<class 'dict_items'>
10
pinky
20
pranshul
30
radhika
40
yash

### keys

In [136]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print(id(my_dic2))
print()

all_keys = my_dic2.keys()
print(all_keys)
print(type(all_keys))

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
2027707909440

dict_keys([10, 20, 30, 40])
<class 'dict_keys'>

### Values

In [137]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

all_keys =my_dic2.values()
print(all_keys)
print(type(all_keys))

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

dict_values(['pinky', 'pranshul', 'radhika', 'yash'])
<class 'dict_values'>

### Update

In [138]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

my_dic2.update({50:"sumit"})
print("after update:")
print(my_dic2)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after update:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash', 50: 'sumit'}

### Pop

In [139]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

my_dic2.pop(10)
print("after pop:")
print(my_dic2)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after pop:
{20: 'pranshul', 30: 'radhika', 40: 'yash'}

### for loop using dict

In [140]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

for i in my_dic2:
    print(i)
    
for i in my_dic2:
    print(i,"-",my_dic2[i])

10
20
30
40
10 - pinky
20 - pranshul
30 - radhika
40 - yash

### input by user dictionary

In [141]:
emp_dic = {}
n = int(input("enter number of element:"))

for i in range(n):
    k=input("enter keys:")
    v=input("enter values:")
    emp_dic.update({k:v})
    
print(emp_dic)

enter number of element:4
enter keys:yash
enter values:40
enter keys:yogesh
enter values:60
enter keys:ajay
enter values:30
enter keys:sharad
enter values:80
{'yash': '40', 'yogesh': '60', 'ajay': '30', 'sharad': '80'}

### Nested dictionary

In [142]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}
print(dic)
print(dic['course'])
print(dic['fees'])
print()

print(dic['d'])
print(dic['d']['course'])
print(dic['d']['fees'])

{'course': 'python', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}
python
1000

{'course': 'java', 'fees': 2000}
java
2000

### Modify

In [143]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}
print(dic)
print()

dic['course'] = "Machine learning"
print(dic)
print()

dic['d']['fees'] = 5000
print(dic)
print()

dic['duration'] = "6 month"
print(dic)
print()

dic['d']['time'] = " 3 hrs"
print(dic)
print()

dic['c'] = {"course":'big data','fees':8000}
print(dic)
print()

{'course': 'python', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000}, 'duration': '6 month'}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000, 'time': ' 3 hrs'}, 'duration': '6 month'}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000, 'time': ' 3 hrs'}, 'duration': '6 month', 'c': {'course': 'big data', 'fees': 8000}}

### Nested dict using for loop

In [144]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}

for i in dic:
    print(i)
print()

for i in dic:
    if type(dic[i]) is dict:
        for k in dic[i]:
            print(k,"-",dic[i][k])
    else:
        print(i,"-",dic[i])

course
fees
d

course - python
fees - 1000
course - java
fees - 2000

### List Comprehension

In [145]:
lst1 = [0,1,2,3,4,5,6,7,8,9,10]
new_lst = []
print("without comprehension:")
for i in lst1:
    new_lst.append(i+1)
print(new_lst)
print()

lst2 = [1,2,3,4,5,6,7,8,9,10,11,12]
print("with comprehension:")
new_lst2 = [i+1 for i in lst2]
print(new_lst2)

without comprehension:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

with comprehension:
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [146]:
new_lst3 = [i+0 for i in range(10)]
print(new_lst3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
lst = []
for i in range(20):
    if(i%2==0):
        lst.append(i)
        
print(lst)
print()

lst2 = [i for i in range(20) if i%2==0] 
print(lst2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### With nested list comprehension

In [148]:
lst = []
for i in range(10):
    if (i%2==0):
        lst.append(i)
    else:
        lst.append("invalid")
print(lst)
print()

lst2 = [i if i%2==0 else "invalid" for i in range(10)]
print(lst2)

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid']

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid']

### dictionary comprehension

In [149]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [150]:
words = ['data', 'science', 'machine','learning']
print(words)

{i :len(i) for i in words}

['data', 'science', 'machine', 'learning']

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

In [151]:
words = ['data', 'science', 'machine','learning']
value = [4,8,6,10]

dic1 = {i:j for i, j in zip(words,value)}
print(dic1)

{'data': 4, 'science': 8, 'machine': 6, 'learning': 10}


### Array

In [152]:
from array import*
stu_roll = array('i',[])
print(stu_roll)

array('i')

In [153]:
from array import*
stu_roll = array('i',[10,20,30,40])
for i in stu_roll:
    print(i)

10
20
30
40

In [154]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
for i in range(n):
    print(i,"-",stu_roll[i])

0 - 10
1 - 20
2 - 30
3 - 40

In [155]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(i,"-",stu_roll[i])
    i =i+1

0 - 10
1 - 20
2 - 30
3 - 40

### Append

In [156]:
from array import*
stu_roll = array('i',[10,20,30,40])
stu_roll.append(60)
n = len(stu_roll)

i =0
while i<n:
    print(stu_roll[i])
    i+=1

10
20
30
40
60

In [157]:
stu_roll = array('i',[])
n = int(input("enter number of element"))

for i in range(n):
    stu_roll.append(int(input("enter the element:")))
    print(stu_roll)
    
for i in range(len(stu_roll)):
    print(stu_roll[i])

enter number of element4
enter the element:12
array('i', [12])
enter the element:15
array('i', [12, 15])
enter the element:16
array('i', [12, 15, 16])
enter the element:18
array('i', [12, 15, 16, 18])
12
15
16
18

In [158]:
stu_roll = array('i',[])
n = int(input("enter the element:"))

i=0
j=0

while i<n:
    stu_roll.append(int(input("enter number:")))
    print(stu_roll)
    i+=1
    
while j<len(stu_roll):
    print(stu_roll[j])
    j+=1

enter the element:3
enter number:5
array('i', [5])
enter number:4
array('i', [5, 4])
enter number:6
array('i', [5, 4, 6])
5
4
6

### Insert

In [159]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1
    
print("after insertion:")
stu_roll.insert(0,100)
stu_roll.insert(1,200)
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1

10
20
30
40
after insertion:
100
200
10
20
30
40

### POP

In [160]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1
    
print("after pop:")
r = stu_roll.pop(1)
n = len(stu_roll)
i=0
while i<n:
    print("remove element",r)
    print(stu_roll[i])
    i+=1

10
20
30
40
after pop:
remove element 20
10
remove element 20
30
remove element 20
40

### index

In [161]:
stu_roll = array('i',[10,20,30,40])
print(stu_roll.index(20))

1

### Reverse

In [162]:
stu_roll = array('i',[10,20,30,40])
stu_roll.reverse()
print(stu_roll)

array('i', [40, 30, 20, 10])

### Extend

In [163]:
stu_roll = array('i',[10,20,30,40])
arr = array('i',[50,60,70,80])
stu_roll.extend(arr)
print(stu_roll)

array('i', [10, 20, 30, 40, 50, 60, 70, 80])

### Slicing

In [164]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
for i in range(n):
    print(i,"-",stu_roll[i])
    
print('******')
stu_roll[0:3]

0 - 10
1 - 20
2 - 30
3 - 40
******

array('i', [10, 20, 30])

### Lambda function

In [165]:
show = lambda x :print(x)
show(5)

5

In [166]:
add = lambda x,y: x+y
print(add(5,2))

7

In [167]:
sub = lambda x,y: x-y
print(sub(5,2))

3

In [168]:
add_sub  = lambda x,y: (x+y, x-y)
print(add_sub(5,2))

(7, 3)

In [169]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
new_lst = list(map(lambda x:x*2, lst1))
print(new_lst)

[20, 40, 60, 'yashyash', 'amanaman', 21.0, 41.0]

# Higher order fuction
### Map fuction

In [170]:
a = [10,20,30,40]

def inc(n):
    return n+2

result = list(map(inc,a))
print(result)
print(type(result))

for i in result:
    print(i)

[12, 22, 32, 42]
<class 'list'>
12
22
32
42

In [171]:
a = [10,20,30,40]


result = list(map(lambda n : n+2,a))
print(result)
print(type(result))

for i in result:
    print(i)

[12, 22, 32, 42]
<class 'list'>
12
22
32
42

In [172]:
a = [10,20,30,40]
b = [50,60,70,80]
result = list(map(lambda n,m: n+m, a,b))
print(result)
print(type(result))

for i in result:
    print(i)

[60, 80, 100, 120]
<class 'list'>
60
80
100
120

In [173]:
def square(x):
    return x*x

a = list(map(square, [1,2,3,4,5,6]))
print(a)

[1, 4, 9, 16, 25, 36]

### Filter function

In [174]:
a = [10,20,30,40,50,60]

def high_marks(n):
    if n>=30:
        return True

result = list(filter(high_marks,a))
print(result)
print(type(result))

for i in result:
    print(i)

[30, 40, 50, 60]
<class 'list'>
30
40
50
60

In [175]:
a = [10,20,30,40,50,60]


result = list(filter(lambda n: (n>=30), a))
print(result)
print(type(result))

for i in result:
    print(i)

[30, 40, 50, 60]
<class 'list'>
30
40
50
60

In [176]:
a = [5,6,2,7,9,8,12,13,15]

def odd_check(num):
    if num%2!=0:
        return True
    
result = list(filter(odd_check,a))
print(result)


for i in result:
    print(i)

[5, 7, 9, 13, 15]
5
7
9
13
15

In [177]:
a = [5,6,2,7,9,8,12,13,15]
    
result = list(filter(lambda n: n%2!=0, a))
print(result)


for i in result:
    print(i)

[5, 7, 9, 13, 15]
5
7
9
13
15

In [178]:
def even_odd(num):
    if num%2==0:
            return True
        
lst1 = [1,2,3,4,5,6]
list(filter(even_odd, lst1))

[2, 4, 6]

### Reduce

In [179]:
from functools import reduce

a = [5,6,2,7,9,8,12,13,15]

result = reduce(lambda n,m: n+m, a)
print(result)

77

# Generator

In [180]:
def var(a,b):
    yield a
    yield b
    
result = var(10,20)
print(result)

lst = list(result)
print(lst)
print(type(lst))

<generator object var at 0x000001D81CD28350>
[10, 20]
<class 'list'>

In [181]:
def var(a,b):
    yield a
    yield b
    
result = var(10,20)
print(result)
print(type(result))

print(next(result))
print(next(result))

<generator object var at 0x000001D81CD28890>
<class 'generator'>
10
20

In [182]:
def show(a,b):
    while a<=b:
        yield a
        a+=1
    
result = show(1,6)
print(result)

print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

<generator object show at 0x000001D81CD28970>
1
2
3
4
5
6

# Function

In [183]:
def add():
    x = 10
    y = 20
    c = x+y
    print(c)

In [184]:
add()

30

In [185]:
def add():
    x = 10
    y = 20
    c = x+y
    return c

In [186]:
add()

30

In [187]:
def add(y):
    x = 10
    c = x+y
    print(c)

In [188]:
add(20)

30

In [189]:
def add(y):
    x = 10
    c = x+y
    return c

In [190]:
value =add(20)
print(value)

30

In [191]:
def upcoming():
    print("welcome to python world!")

In [192]:
upcoming()
upcoming()

welcome to python world!
welcome to python world!

In [193]:
# sum of all even and odd numbers
def even_odd(lst):
    even_is = 0
    odd_is = 0
    
    for i in lst:
        if i%2==0:
            even_is = even_is+i
        else:
            odd_is = odd_is+i
            return even_is, odd_is

In [194]:
even_is,odd_is =even_odd([2,4,5,6,8,7,6,3,2,8])
print(even_is)
print(odd_is)

6
5

### Class and object

In [195]:
class Myclass(object):
    def show(self):
        print("i am a method")
x = Myclass()
x.show()

i am a method

In [196]:
class Myclass:
    def show(self):
        print("i am a method")
        
x =Myclass()
x.show()

i am a method

In [197]:
class Mobile:
    def __init__(self):
        self.model = 'Realme x'               #instance variable
        
    def show_model(self):
        print("Model:",self.model)            #accessing instance variable
        
realme = Mobile()
realme.show_model()

Model: Realme x

In [198]:
class Mobile:
    def __init__(self):
        self.model = "Realme x"
        
    def show_model(self):
        print("Model:",self.model)
        
realme = Mobile()
realme.model = "Realme Pro"

print(realme.model)
realme.show_model()

Realme Pro
Model: Realme Pro

### Constructor

In [199]:
class Mobile:
    def __init__(self,m):
        self.model = m
        
    def show_model(self,p):
        self.price = p
        print("Model:",self.model,"Price",self.price)
        
realme = Mobile("realme x")
realme.show_model(10000)
print(id(realme))
print()

redmi = Mobile("redmi x")
redmi.show_model(12000)
print(id(redmi))
print()

Nokia = Mobile("Nokia 1200")
Nokia.show_model(25000)
print(id(Nokia))
print()

Model: realme x Price 10000
2027708236368

Model: redmi x Price 12000
2027708227888

Model: Nokia 1200 Price 25000
2027708236464

In [200]:
class Mobile:
    def __init__(self,m,v=80):
        self.model = m
        self.volume = v
        
    def show_model(self,p):
        self.price = p
        print("Model:", self.model)
        print("Price:", self.price)
        print("volume:", self.volume)
        
# passing Argument to constructor
realme = Mobile('realme x')

# Accessing method from outside class
realme.show_model(1000)

Model: realme x
Price: 1000
volume: 80

# Pickling and unpickling

In [201]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
        
with open('student.dat', mode='wb') as f:
    stu1 = Student('Rahul', 101, 'Rachi')
    
    pickle.dump(stu1, f)
    print('pickling done!')
    
with open('student.dat', mode= 'rb') as f:
    obj =  pickle.load(f)
    print('Unpickling done!')
    obj.disp()

pickling done!
Unpickling done!
name: Rahul Roll: 101 Address: Rachi

In [202]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
        
with open('student.dat', mode='wb') as f:
    stu1 = Student('Rahul', 101, 'Rachi')
    stu2 = Student('Raj', 102, 'bihar')
    pickle.dump(stu1, f)
    pickle.dump(stu2, f)
    print('pickling done!')
    
with open('student.dat', mode= 'rb') as f:
    obj =  pickle.load(f)
    obj = pickle.load(f)
    print('Unpickling done!')
    obj.disp()
    obj.disp()

pickling done!
Unpickling done!
name: Raj Roll: 102 Address: bihar
name: Raj Roll: 102 Address: bihar

In [204]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
n = int(input("Enter Number of students:"))
with open('student.dat', mode= 'wb') as f:
    for i in range(n):
        name = input('Enter Student Name:')
        roll = int(input('Enter Roll:'))
        address = input('Enter Address:')
        stu1 = Student(name, roll, address)
        pickle.dump(stu1, f)
        
print('Pickling done!')

with open('student.dat', mode= 'rb') as f:
    while True:
        try:
            obj =  pickle.load(f)
            obj.disp()
        except EOFError:
            print('Done')
            break

Enter Number of students:3
Enter Student Name:yash
Enter Roll:40
Enter Address:indore
Enter Student Name:yogesh
Enter Roll:41
Enter Address:jabalpur
Enter Student Name:aman
Enter Roll:25
Enter Address:bhimkund
Pickling done!
name: yash Roll: 40 Address: indore
name: yogesh Roll: 41 Address: jabalpur
name: aman Roll: 25 Address: bhimkund
Done

### Abstract Method

In [205]:
from abc import ABC, abstractmethod

class Father(ABC):
    @abstractmethod
    def disp(self):
        pass
        
    
    def show(self):
        print('concrete Method')
        
class Child(Father):
    def disp(self):
        print("Child Class")
        print("Defining Abstract Method")
        
c = Child()
c.disp()
c.show()

Child Class
Defining Abstract Method
concrete Method

In [206]:
from abc import ABC, abstractmethod
class DefenceForce(ABC):
    @abstractmethod
    def area(self):
        pass
        
    def gun(self):
        print("Gun = AK47")
        
class Army(DefenceForce):
    def area(self):
        print("Army Area = land")
        
class AirForce(DefenceForce):
    def area(self):
        print("Airforce Area = sky")
        
class Navy(DefenceForce):
    def area(self):
        print("Navy Area = sea")
        
a = Army()
af = AirForce()
Nv = Navy()

a.gun()
a.area()
print()

af.gun()
af.area()
print()

Nv.gun()
Nv.area()
print()

Gun = AK47
Army Area = land

Gun = AK47
Airforce Area = sky

Gun = AK47
Navy Area = sea

# Encapsulation
### public protected private
#### __ private attribute  double underscore is private attribute
#### _protected attribute single underscore is protected attribute

In [207]:
class Employee:
    def __init__(self, name, project):
        self.name = name
        self.project = project
        
    def disp(self):
        print(self.name)
        print(self.project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [208]:
# Private variable
class Employee:
    def __init__(self, name, project):
        self.__name = name
        self.__project = project
        
        
emp = Employee("yash", 'ml analyse')
print(emp.__name)
#"we can't direct access private variable"

AttributeError: 'Employee' object has no attribute '__name'

In [209]:
# Private variable
class Employee:
    def __init__(self, name, project):
        self.__name = name
        self.__project = project
        
    def disp(self):
        print(self.__name)
        print(self.__project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [210]:
#Protected variable
class Employee:
    def __init__(self, name, project):
        self.name = name
        self._project = project
        
    def disp(self):
        print(self.name)
        print(self._project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [211]:
class Employee:
    def __init__(self, name, project):
        self.name = name
        self._project = project
        
        
emp = Employee("yash", 'ml analyse')
print(emp._project)

ml analyse

### Exception Handling

In [212]:
a = 10
b = 5
c = a/b
print(c)
print('Rest of the code')

2.0
Rest of the code

In [213]:
a = 10
b = 0
c = a/b
print(c)
print('Rest of the code')

ZeroDivisionError: division by zero

In [214]:
a = 10
b = 5
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')
    
print('Rest of the code')

2.0
Rest of the code

In [215]:
a = 10
b = 0
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')
    
print('Rest of the code')

Division by zero not allowed
Rest of the code

In [216]:
a = 10
b = 5
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')


else:
    print('Inside else')
    
finally:
    print('Inside finally')
    
print('Rest of the code')

2.0
Inside else
Inside finally
Rest of the code

In [217]:
a = 10
b = 0
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')

    

else:
    print('Inside else')
    
finally:
    print('Inside finally')

print('Rest of the code')

Division by zero not allowed
Inside finally
Rest of the code