Our Mind is Not a Storage Device it is a Thinking Device

In [1]:
#ESCAPE SEQUENCE
print("welcome to python world")

welcome to python world

In [2]:
print("welcome to \npython world")

welcome to
python world

In [3]:
print("welcome to \"python world\"")

welcome to "python world"

In [4]:
print("welcome to \t python world")

welcome to 	 python world

In [5]:
print("hello")
print("Indore")

hello
Indore

In [6]:
print("hello\nIndore")

hello
Indore

In [7]:
print("hello\tIndore")

hello	Indore

In [8]:
print("*\n**\n***")

*
**
***

In [9]:
print("*\n*\t*\n  *")

*
*	*
  *

## variable :-
A variable in Python is a name used to refer to a value stored in memory. It acts as a container for storing data values, allowing you to easily label and access specific pieces of data. You can think of a variable as a reference to a memory location where a particular value is kept.

### Key Points about Variables in Python:-
Naming a Variable:

* Variable names can consist of letters (both uppercase and lowercase), digits, and underscores.

* They must start with a letter or an underscore (_), not a digit.

* Variable names are case-sensitive (myVar and myvar are different variables).

* Avoid using reserved keywords (like if, else, while, etc.) as variable names.

In [10]:
student = 'aman'

In [11]:
student

'aman'

## Data type :-
every variable is associated with data-type .

a data type is a classification that specifies what kind of value a variable can hold. Each data type determines what operations can be performed on the data.

In [12]:
type(student)

str

In [13]:
a1 = 6.5

In [14]:
type(a1)

float

## Operators:-
operators are special symbols used to perform operations on variables and values
different types of operators in Python:

#### Arithmetic operators +,-,*,/
These operators are used to perform mathematical operations.

In [15]:
a = 10
b = 5

In [16]:
print(a,b)

10 5

In [17]:
a+b

15

In [18]:
a*b

50

### Relational(Comparison) operator <,>,==,!=
These operators are used to compare two values.

In [19]:
a>b

True

In [20]:
a==b

False

### Assignment operator   =,-=,+=,/=,%=,**=
These operators are used to assign values to variables.

In [21]:
a =a+20
print(a)

30

In [22]:
a = 10                #a = a+5

a +=5
print(a)

15

### Logical operator  
not - Returns True if the statement is false,

and - Returns True if both statements are true,
	
or  - Returns True if the statement is false,	

These operators are used to combine conditional statements.

In [23]:
a = 10
print(not(a>5))

False

In [24]:
# Bitwise Operator

'''
&   Bitwise and
|   Bitwise or
^   Bitwise xor
<<  Bitwise left shift
>>  Bitwise right shift
'''

'\n&   Bitwise and\n|   Bitwise or\n^   Bitwise xor\n<<  Bitwise left shift\n>>  Bitwise right shift\n'

### Member ship operator
These operators are used to test if a value is a member of a sequence (like a list, tuple, or string).

in - Returns True if the value is found in the sequence	

not in - Returns True if the value is not found in the sequence

In [25]:
v1="better as you are"
print("as" in v1)

True

In [26]:
v1="better as you are"
print("as" not in v1)

False

### Identity operator
These operators are used to compare the memory locations of two objects.

is - Returns True if both variables point to the same object

not is - Returns True if both variables do not point to the same object

In [27]:
a=b=10
a is b

True

In [28]:
a =10
b ='10'
print(a is b)

False

In [29]:
print(a is not b)

True

### User input
you can take user input using the **input()** function. This function allows you to prompt the user for input, and it returns the input as a string.

In [30]:

a= input()
print("you have entered: ",a)

 yash

you have entered:  yash

In [31]:
a =input("enter first name:")
b =input("enter last name:")
c = a+b
print(c)

enter first name: yash
enter last name: rathore

yashrathore

In [32]:
a =int(input("enter first number:"))
b =int(input("enter second number:"))
c = a+b
print(c)

enter first number: 1
enter second number: 2

3

## if Statement

the if statement is used for conditional execution. It allows you to execute certain blocks of code based on whether a condition evaluates to True or False

In [33]:
# if statement

if 5>2:
    print("Greater")

Greater

In [34]:
if 5<2:
    print("lesser")
    print("5 is greater than 2 ")

print("condition false")

condition false

In [35]:
a =int(input("enter number greater than 2:"))
if (a>2):
    print("you have entered:",a)

enter number greater than 2: 5

you have entered: 5

### Nested if statement
You can also nest if statements inside one another:

In [36]:

if 5>2:
    print("it's greater")
    if 6>2:
        print("greater")

it's greater
greater

In [37]:
if 5<2:
    print("it's greater")
    if 6>2:
        print("greater")
print("not right")

not right

In [38]:
a = int(input("enter greater than 2:"))
b = int(input("enter greater than 5 :"))
if a>b:
    print("you have entered :",a)
    if b>a:
        print("you have entered",b)

enter greater than 2: 5
enter greater than 5 : 10

### if else statement
The if statement in Python allows you to execute a block of code based on whether a condition is True. If the condition is False, you can use an else statement to execute an alternative block of code.

In [39]:
if 5>2:
    print("it's greater")
else:
    print("Incorrect")

it's greater

In [40]:
c= int(input("Enter greater than 50:"))
if c>50:
    print("you have entered correct",c)
    
    
    a= int(input("Enter greater than 5:"))
    if a>5:
        print("you have entered correct",a)
    else:
        print("Incorrect!",a)
        
    b= int(input("Enter greater than 10:"))
    if b>10:
        print("you have entered correct",b)
    else:
        print("Incorrect!",b)
        
    print("all values are correct",a,b,c)
else:
    print("Incorrect",c)

Enter greater than 50: 60

you have entered correct 60

Enter greater than 5: 10

you have entered correct 10

Enter greater than 10: 20

you have entered correct 20
all values are correct 10 20 60

In [41]:
a= int(input("enter the first number 1?"))
b= int(input("enter the first number 2?"))
c= a*2-b
print("the output is",c)
if c<0:
    print("the number is negative")
else:
    print("your output",c)

enter the first number 1? 40
enter the first number 2? 20

the output is 60
your output 60

### if elif statement
if, elif, and else statements in Python are used for decision-making. They allow you to execute different blocks of code based on certain conditions.

In [42]:

a=30
b=20
a,b

(30, 20)

In [43]:
a =int(input("enter the number:"))
if a>b:
    print("a is greater than b:",a)
elif a==b:
    print("a is equal to b:",a,b)
elif a<b:
    print("a is less than b:",b)

enter the number: 2

a is less than b: 20

In [44]:
day = input("Enter the day")
if(day=="Monday" or day =="monday"):
    print("Today is monday")
elif(day=="Tuesday" or day =="tuesday"):
    print("Today is tuesday")
elif(day=="Wednesday" or day=="wednesday"):
    print("Today is wednesday")
else:
    print("Today is Holiday")

Enter the day friday

Today is Holiday

In [45]:
a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c= a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>50:
    print("the different is huge")
else:
    print("the number is positive")

enter the number 1? 5
enter the number 2? 5

the output is 0
the number is positive

### range function
The **range()** function in Python is used to generate a sequence of numbers. It's commonly used in loops to repeat actions a specific number of times.

start: (optional) The value at which the sequence starts. The default is 0.

stop: The value at which the sequence ends (not inclusive).

step: (optional) The difference between each number in the sequence. The default is 1.

In [46]:
a = range(5,0,-1)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

5
4
3
2
1

In [47]:
a = range(0,6,1)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

0
1
2
3
4

### While Loop
a while loop allows you to repeat a block of code as long as a condition is True.

In [48]:
a=1
while a<=5:
    print(a)
    a+=1

1
2
3
4
5

In [49]:
i = 0
while i<=6:
    print(i)
    i+=1

0
1
2
3
4
5
6

In [50]:
i = 0
while i<=6:
    print(i)
    i+=1
else:
    print("value is overfitted")

0
1
2
3
4
5
6
value is overfitted

### Break
the break function is used to stop a loop (like a for or while loop) before it naturally ends.

When Python encounters break inside a loop, it immediately exits the loop and moves to the code after it.

In [51]:
i = 0
while i<=6:
    print(i)
    i+=1
    if i ==5:
        break

0
1
2
3
4

### continue statement
The continue statement in Python is used inside loops (like for or while) to skip the current iteration and move to the next one.

In [52]:
i = 0
while i<=6:
    i+=1
    if i ==3:
        continue
    print(i)

1
2
4
5
6
7

### Nested while loop
A nested while loop in Python is a loop within another loop. The inner loop will complete all its iterations for each single iteration of the outer loop

In [53]:

i =1
while i<=3:
    print("outer loop",i)
    i+=1
    
    j =1
    while j<=4:
        print("inner loop",j)
        j+=1

outer loop 1
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop 2
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop 3
inner loop 1
inner loop 2
inner loop 3
inner loop 4

In [54]:
i=1
while i<=3:
    i+=1

    j=1
    while j<=12:
        print (i*j)
        j +=1
    print("\n")

2
4
6
8
10
12
14
16
18
20
22
24


3
6
9
12
15
18
21
24
27
30
33
36


4
8
12
16
20
24
28
32
36
40
44
48

In [55]:
i=1
while i<=3:
    i+=1

    j=1
    while j<=5:
        print (i,"*",j,'=',i*j)
        j +=1
    print("\n")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

### For loop
A for loop in Python allows you to repeat a block of code multiple times, based on a sequence or a range.

In [56]:

a =range(2,6,1)
for i in a:
    print(i)

2
3
4
5

In [57]:
st = "yashrathore"
n =len(st)
for i in range(n):
    print(i,"-",st[i])

0 - y
1 - a
2 - s
3 - h
4 - r
5 - a
6 - t
7 - h
8 - o
9 - r
10 - e

In [58]:
var = ['pop','rock','fly']
for i in range(len(var)):
    print('i like',var[i])

i like pop
i like rock
i like fly

In [59]:
student_name = input("enter the name: ")
marks = {'jay':60,'veer':80,'sham':50}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print("No entry with that name found")

enter the name:  veer

80

# String
a string is a sequence of characters enclosed within quotes. You can use either single quotes (') or double quotes (")

In [60]:
str_name = 'yashrathore'
n = len(str_name)
for i in range(n):
    print(i,"-",str_name[i])

0 - y
1 - a
2 - s
3 - h
4 - r
5 - a
6 - t
7 - h
8 - o
9 - r
10 - e

In [61]:
str1 = "my data science life"
str2 = "is best forever"

In [62]:
str1+" "+str2

'my data science life is best forever'

In [63]:
name = input("enter your name : ")
print(name)

enter your name :  yash

yash

## string formating

In [64]:


first_name = input("what is your first name : ")
last_name = input("what is your last name : ")
print("my first_name is {first} and last_name is {last}".format(last =last_name,first=first_name))

what is your first name :  yash
what is your last name :  rathore

my first_name is yash and last_name is rathore

In [65]:
4 +float(5)

9.0

In [66]:
'day'+str(4)

'day4'

In [67]:
str3 = ''' 
this is my 
first programming
language'''

str3

' \nthis is my \nfirst programming\nlanguage'

In [68]:
str1= "yash"
str2= "yash"
print(id(str1))
print(id(str2))

139698117751408
139698117751408

In [69]:
string = 'yash rathore'
print(string[0:4] * 5)

yashyashyashyashyash

In [70]:
#Converts all characters to lowercase.
str4 = 'yash rathore'
str4.lower()

'yash rathore'

In [71]:
#Converts all characters to uppercase.
str4 = 'yash rathore'
str4.upper()

'YASH RATHORE'

In [72]:
#This method returns a new string with all the uppercase letters converted to lowercase and all the lowercase letters converted to uppercase.

str4 = 'yash rathore'
str4.swapcase()

'YASH RATHORE'

In [73]:
# Converts the first character of each word to uppercase and the rest to lowercase.
str4 = 'yash rathore'
str4.title()

'Yash Rathore'

In [74]:
#Returns True if all characters in the string are uppercase; otherwise, it returns False.
str4 = 'yashrathore'
str4.isupper()

False

In [75]:
#Returns True if all characters in the string are lowercase; otherwise, it returns False.
str4 = 'yashrathore'
str4.islower()

True

In [76]:
# The count() method returns the number of occurrences of a substring in a string.
str4.count('a')

2

In [77]:
#The find() method returns the lowest index of the substring if found, otherwise it returns -1.
str4.find('o')

8

## Replace and Split
the replace() method is used to replace a specified substring with another substring,

and the split() method is used to split a string into a list based on a specified delimiter.

In [78]:
name = 'yashrathore'
old = 'yash'
new = 'Harsh'
name.replace(old,new)

'Harshrathore'

In [79]:
name = 'yashrathore'
print(name.replace('yash','harsh'))

harshrathore

In [80]:
name = 'yashrathore'
name.split('a')

['y', 'shr', 'thore']

In [81]:
name = 'yash rathore'
name.split(' ')

['yash', 'rathore']

In [82]:
name = 'Hello!','yash','how','are','you'
print('_'.join(name))

Hello!_yash_how_are_you

# List
a list is a collection of items that are ordered and changeable. Lists are created using square brackets [] and can contain items of different data types, including numbers, strings, and even other lists and it is allow duplicate values.

In [83]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
lst1

[10, 20, 30, 'yash', 'aman', 10.5, 20.5]

In [84]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
for i in lst1:
    print(i)

10
20
30
yash
aman
10.5
20.5

In [85]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n =len(lst1)
for i in range(n):
    print(i,"-",lst1[i])

0 - 10
1 - 20
2 - 30
3 - yash
4 - aman
5 - 10.5
6 - 20.5

In [86]:
l1 = [1,2,3,4,5,6,7,8]
print("before condition",l1)
l2=[]
for i in l1:
    if i<5:
        l2.append((i+i,i**2))
    print('after condition',l2)

before condition [1, 2, 3, 4, 5, 6, 7, 8]
after condition [(2, 1)]
after condition [(2, 1), (4, 4)]
after condition [(2, 1), (4, 4), (6, 9)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]
after condition [(2, 1), (4, 4), (6, 9), (8, 16)]

In [87]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n = len(lst1)
i=0
while i<n:
    print(i,"-",lst1[i])
    i+=1

0 - 10
1 - 20
2 - 30
3 - yash
4 - aman
5 - 10.5
6 - 20.5

### append method
 the append() method is used to add an item to the end of a list.

In [88]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
n = len(lst1)
lst1.append(44)
for i in range(n):
    print(i,"-",lst1)

0 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
1 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
2 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
3 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
4 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
5 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]
6 - [10, 20, 30, 'yash', 'aman', 10.5, 20.5, 44]

In [89]:
lst2 = []
print(lst2)
n = int(input("enter your values:"))
for i in range(n):
    lst2.append(int(input("enter number:")))
print(lst2)

[]

enter your values: 4
enter number: 1
enter number: 2
enter number: 3
enter number: 4

[1, 2, 3, 4]

In [90]:
lst2 = []
print(lst2)
n = int(input("enter your values:"))
for i in range(n):
    lst2.append(int(input("enter number:")))

print('list:')
for i in lst2:
    print(i)

[]

enter your values: 2
enter number: 1
enter number: 2

list:
1
2

### Insert method
 you can insert an item into a list at a specific index using the insert() method. 

index: The position where you want to insert the item (0-based).

item: The item you want to insert.

In [91]:
a = [10,20,30,40]
a.insert(1,'yash')
for i in a:
    print(i)

10
yash
20
30
40

In [92]:
a = [10,20,30,40]
a.insert(1,'yash')
print(a)

[10, 'yash', 20, 30, 40]

### POP method
The pop() method is used to remove and return an item from a list at a specified index. If no index is specified, it removes and returns the last item.

In [93]:
a = [10,20,30,40]
a.pop()

40

In [94]:
a = [10,20,30,40]
a.pop(1)

20

### Index method
an index refers to the position of an item in a list, string, or other ordered collection.

In [95]:
a = [10,20,30,40]
a.index(30)

2

### Reverse method
you can reverse a list using the reverse() method or by slicing.

In [96]:
a = [10,20,30,40]
a.reverse()
print(a)

[40, 30, 20, 10]

### extend method
the **extend()** method is used to add multiple elements to the end of a list. Unlike append(), which adds a single element, extend() takes an iterable (like another list) and adds each of its elements to the list.

In [97]:
a = [10,20,30,40]
b = [40,50,60]
a.extend(b)
print(a)

[10, 20, 30, 40, 40, 50, 60]

### Count method
you can count the occurrences of an item in a list using the **count()** method.

In [98]:
a = [10,20,30,40,10,50,10]
a.count(10)

3

### Clear method
the **clear()** method in Python is used to remove all items from a list. After using this method, the list will be empty.

In [99]:
a = [10,20,30,40]
a.clear()
print(a)

[]

### Slicing method
Slicing in Python allows you to extract a portion of a list (or other sequence types like strings and tuples) using a specific syntax
**list[start:stop:step]**

start: The index to start slicing from (inclusive).

stop: The index to stop slicing (exclusive).

step: The step value, which determines the increment between each index in the slice.

In [100]:
f =[10,20,'jai','shambhu',30,40]
f[:]

[10, 20, 'jai', 'shambhu', 30, 40]

In [101]:
f =[10,20,'jai','shambhu',30,40]
a = f[:4:2]
a

[10, 'jai']

In [102]:
f =[10,20,'jai','shambhu',30,40,50]
a =f[2:5]

for i in a:
    print(i)

jai
shambhu
30

In [103]:
f =[10,20,'jai','shambhu',30,40]
f[0:-5]

[10]

In [104]:
f =[10,20,'jai','shambhu',30,40]
f[-4:-1]

['jai', 'shambhu', 30]

### Nested List
A nested list in Python is simply a list that contains other lists as its elements. This can be useful for organizing data in a multi-dimensional format, such as matrices or grids.

In [105]:
f =[10,20,30,40,[50,60,70,80]]
print(f[1])
print(f[4])
print(f[4][1])
print(f[1:5])

20
[50, 60, 70, 80]
60
[20, 30, 40, [50, 60, 70, 80]]

In [106]:
f =[10,20,30,40,[50,60,70,80]]
f[4][3]=90
f

[10, 20, 30, 40, [50, 60, 70, 90]]

In [107]:
f =[[10,20,30,40],[50,60,70,80]]
print(f[0])
print(f[1])

[10, 20, 30, 40]
[50, 60, 70, 80]

In [108]:
f =[10,20,30,40,[50,60,70,80]]
n=len(f)
for i in range(n):
    if type(f[i]) is list:
        if len(f[i])>1:
            k=len(f[i])
        for j in range(k):
            print(i,j,f[i][j])
        else:
            print(i,f[i])

4 0 50
4 1 60
4 2 70
4 3 80
4 [50, 60, 70, 80]

In [109]:
f =[[10,20,30,40],[50,60,70,80]]

for i in f:
    for j in i:
        print(j)
    print()

10
20
30
40

50
60
70
80

In [110]:
f =[[10,20,30,40],[50,60,70,80]]
n =len(f)
for i in range(n):
    
    for j in range(len(f[i])):
        print(i,j,f[i][j])
    print()

0 0 10
0 1 20
0 2 30
0 3 40

1 0 50
1 1 60
1 2 70
1 3 80

In [111]:
f =[[10,20,30,40],[50,60,70,80]]
n =len(f)
i =0
while i<n:
    j=0
    while j<len(f[i]):
        print(i,j,f[i][j])
        j+=1
    i+=1

0 0 10
0 1 20
0 2 30
0 3 40
1 0 50
1 1 60
1 2 70
1 3 80

### passing a list to function

In [112]:
def show(l):
    print(l)
    print(type(l))
    for i in l:
        print(i)
lst= [10,20,30,40,"yash"]

In [113]:
show(lst)

[10, 20, 30, 40, 'yash']
<class 'list'>
10
20
30
40
yash

In [114]:
def show(l):
    print(l)
    print(type(l))
    for i in l:
        print(i)
    return l

lst = [10,20,30,'veer']
new_lst =show(lst)
print(new_lst)
print(type(new_lst))

[10, 20, 30, 'veer']
<class 'list'>
10
20
30
veer
[10, 20, 30, 'veer']
<class 'list'>

In [115]:
a = list(range(0,6))
print(a)

[0, 1, 2, 3, 4, 5]

# Tuple
 a **tuple** is a collection of items that is ordered and immutable (meaning once it's created, you can't change it). 
 
 **Ordered**: The items have a defined order, and that order will not change.

**Immutable**: You cannot change, add, or remove items after the tuple is created.

**Allow Duplicates**: Tuples can have items that are the same.

In [116]:
t =()
type(t)

tuple

In [117]:
T =(10,20,30,40,50)
print(T)
type(T)

(10, 20, 30, 40, 50)

tuple

In [118]:
T =(10,20,30,40,50)
n =len(T)

for i in range(n):
    print(i,"-",T[i])

0 - 10
1 - 20
2 - 30
3 - 40
4 - 50

In [119]:
T =(10,20,30,40,50)
n =len(T)
i=0

while i<n:
    print(i,"-",T[i])
    i +=1

0 - 10
1 - 20
2 - 30
3 - 40
4 - 50

In [120]:
tup = []
n = int(input("enter number of elements:"))

for i in range(n):
    tup.append(int(input("enter elements:")))
    
    
print(type(tup))
b = tuple(tup)
print(type(b))

print("tuple:")
for element in tup:
    print(element)

enter number of elements: 4
enter elements: 1
enter elements: 2
enter elements: 3
enter elements: 4

<class 'list'>
<class 'tuple'>
tuple:
1
2
3
4

# Set
A **set** in Python is a built-in data type that allows you to store multiple unique items in an unordered collection. Sets are useful when you want to ensure that all elements are distinct and can perform operations like union, intersection, and difference.

**Unordered:** The items do not have a defined order, and you cannot access items by an index.

**Mutable:** You can add or remove items from a set.

**Unique Elements:** A set automatically removes duplicate values.

In [121]:
S = set()
print(S)
type(S)

set()

set

In [122]:
S ={10,20,"yash"}
S.add('rathore')
print(S)

{'rathore', 10, 'yash', 20}

In [123]:
S ={10,20,"yash"}
print(S)
print(type(S))

{10, 'yash', 20}
<class 'set'>

In [124]:
S ={10,20,"yash"}
S.update((30,40,"raj"))
print(S)

{40, 10, 'yash', 'raj', 20, 30}

In [125]:
s = set()
n = int(input("enter number of elements:"))

for i in range(n):
    a = input("enter element:")
    s.add(a)
    
for i in s:
    print(i)

enter number of elements: 5
enter element: 6
enter element: 5
enter element: 4
enter element: 3
enter element: 2

3
4
6
5
2

In [126]:
S ={10,20,"yash",50}
print(S)
print(id(S))
print()

new =S.copy()
print("after copy",new)
print(id(S))

{10, 'yash', 50, 20}
139698135930240

after copy {10, 'yash', 50, 20}
139698135930240

### Dictionary

a dictionary is an unordered collection of data that stores key-value pairs. Each key is unique, and it maps to a corresponding value. Dictionaries are commonly used to store data that can be easily looked up using a key.

**Key-Value Pair:** The dictionary is made up of keys and associated values, represented as key: value.

**Unordered:** Dictionaries do not maintain the order of elements (although in Python 3.7 and later, they are insertion-ordered).

**Mutable:** Dictionaries can be modified after creation (keys can be added, updated, or removed).

**Keys must be immutable types:** This means you cannot use mutable types like lists as dictionary keys, but strings, numbers, and tuples can be used.

In [127]:
dic = {10:"yash",20:"pranshul",30:"radhika"}
print(dic)
print(dic[20])
print(dic[30])

{10: 'yash', 20: 'pranshul', 30: 'radhika'}
pranshul
radhika

### Modify

In [128]:
my_dic = {10:"yash",20:"pranshul",30:"radhika"}
print("before modification:")
print(my_dic)
print(id(my_dic))
print()

my_dic[10]="pinky"
print("after modification:")
print(my_dic)
print(id(my_dic))

before modification:
{10: 'yash', 20: 'pranshul', 30: 'radhika'}
139698117914944

after modification:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}
139698117914944

### Addition

In [129]:
my_dic1 = {10: 'pinky', 20: 'pranshul', 30: 'radhika'}
print("before adding:")
print(my_dic1)
print()

my_dic1[40]="yash"
print("after adding:")
print(my_dic1)

before adding:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}

after adding:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

### Delete

In [130]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("before deleting:")
print(my_dic2)
print()

del my_dic2[30]
print("after deleting:")
print(my_dic2)
print()

before deleting:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after deleting:
{10: 'pinky', 20: 'pranshul', 40: 'yash'}

### Testing key

In [131]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print(20 in my_dic2)

True

In [132]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print(30 not in my_dic2)

False

### Clear

In [133]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("before clear:")
print(my_dic2)
print()

my_dic2.clear()
print("After clear:")
print(my_dic)
print()

before clear:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

After clear:
{10: 'pinky', 20: 'pranshul', 30: 'radhika'}

### Copy

In [134]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print(id(my_dic2))
print()

new = my_dic2.copy()
print("copy dic:")
print(new)
print(id(new))
print()

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
139698117667072

copy dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
139698117835584

### item

In [135]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

dic = my_dic2.items()
print(dic)
print(type(dic))

for i in dic:
    for j in i:
        print(j)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

dict_items([(10, 'pinky'), (20, 'pranshul'), (30, 'radhika'), (40, 'yash')])
<class 'dict_items'>
10
pinky
20
pranshul
30
radhika
40
yash

### keys

In [136]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print(id(my_dic2))
print()

all_keys = my_dic2.keys()
print(all_keys)
print(type(all_keys))

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
139698117840128

dict_keys([10, 20, 30, 40])
<class 'dict_keys'>

### Values

In [137]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

all_keys =my_dic2.values()
print(all_keys)
print(type(all_keys))

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

dict_values(['pinky', 'pranshul', 'radhika', 'yash'])
<class 'dict_values'>

### Update

In [138]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

my_dic2.update({50:"sumit"})
print("after update:")
print(my_dic2)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after update:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash', 50: 'sumit'}

### Pop

In [139]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}
print("original dic:")
print(my_dic2)
print()

my_dic2.pop(10)
print("after pop:")
print(my_dic2)

original dic:
{10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

after pop:
{20: 'pranshul', 30: 'radhika', 40: 'yash'}

### for loop using dict

In [140]:
my_dic2 = {10: 'pinky', 20: 'pranshul', 30: 'radhika', 40: 'yash'}

for i in my_dic2:
    print(i)
    
for i in my_dic2:
    print(i,"-",my_dic2[i])

10
20
30
40
10 - pinky
20 - pranshul
30 - radhika
40 - yash

### input by user dictionary

In [141]:
emp_dic = {}
n = int(input("enter number of element:"))

for i in range(n):
    k=input("enter keys:")
    v=input("enter values:")
    emp_dic.update({k:v})
    
print(emp_dic)

enter number of element: 5
enter keys: 1
enter values: raj
enter keys: 2
enter values: jay
enter keys: 3
enter values: sham
enter keys: 4
enter values: viraj
enter keys: 5
enter values: raman

{'1': 'raj', '2': 'jay', '3': 'sham', '4': 'viraj', '5 ': 'raman'}

### Nested dictionary

In [142]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}
print(dic)
print(dic['course'])
print(dic['fees'])
print()

print(dic['d'])
print(dic['d']['course'])
print(dic['d']['fees'])

{'course': 'python', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}
python
1000

{'course': 'java', 'fees': 2000}
java
2000

### Modify

In [143]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}
print(dic)
print()

dic['course'] = "Machine learning"
print(dic)
print()

dic['d']['fees'] = 5000
print(dic)
print()

dic['duration'] = "6 month"
print(dic)
print()

dic['d']['time'] = " 3 hrs"
print(dic)
print()

dic['c'] = {"course":'big data','fees':8000}
print(dic)
print()

{'course': 'python', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 2000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000}}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000}, 'duration': '6 month'}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000, 'time': ' 3 hrs'}, 'duration': '6 month'}

{'course': 'Machine learning', 'fees': 1000, 'd': {'course': 'java', 'fees': 5000, 'time': ' 3 hrs'}, 'duration': '6 month', 'c': {'course': 'big data', 'fees': 8000}}

### Nested dict using for loop

In [144]:
dic = {"course":'python','fees':1000,'d':{"course":'java','fees':2000}}

for i in dic:
    print(i)
print()

for i in dic:
    if type(dic[i]) is dict:
        for k in dic[i]:
            print(k,"-",dic[i][k])
    else:
        print(i,"-",dic[i])

course
fees
d

course - python
fees - 1000
course - java
fees - 2000

### List Comprehension

List comprehension in Python is a concise and efficient way to create lists. It allows you to generate a new list by applying an expression to each element in an iterable, such as a list, tuple, or range, and optionally filtering the elements based on a condition.

**Basic Syntax:**



new_list = [expression for item in iterable if condition]

**expression:** An operation or value that is added to the new list.

**item:** Each element in the iterable.

**iterable:** The collection (like a list, range, or string) you’re iterating through.

**condition (optional):** A filter to include only items that meet a specific condition.

In [145]:
lst1 = [0,1,2,3,4,5,6,7,8,9,10]
new_lst = []
print("without comprehension:")
for i in lst1:
    new_lst.append(i+1)
print(new_lst)
print()

lst2 = [1,2,3,4,5,6,7,8,9,10,11,12]
print("with comprehension:")
new_lst2 = [i+1 for i in lst2]
print(new_lst2)

without comprehension:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

with comprehension:
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [146]:
new_lst3 = [i+0 for i in range(10)]
print(new_lst3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
lst = []
for i in range(20):
    if(i%2==0):
        lst.append(i)
        
print(lst)
print()

lst2 = [i for i in range(20) if i%2==0] 
print(lst2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### With nested list comprehension

In [148]:
lst = []
for i in range(10):
    if (i%2==0):
        lst.append(i)
    else:
        lst.append("invalid")
print(lst)
print()

lst2 = [i if i%2==0 else "invalid" for i in range(10)]
print(lst2)

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid']

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid']

### dictionary comprehension
Dictionary comprehension in Python is a concise and readable way to create dictionaries. It allows you to construct a dictionary in a single line of code using an expression and a loop.

**Basic Syntax:**

{key_expression: value_expression for item in iterable if condition}

**key_expression:** The expression for the dictionary key.

**value_expression:** The expression for the dictionary value.

**iterable:** The sequence or collection to loop through.

**condition (optional):** A condition to filter elements from the iterable.

In [149]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [150]:
words = ['data', 'science', 'machine','learning']
print(words)

{i :len(i) for i in words}

['data', 'science', 'machine', 'learning']

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

In [151]:
words = ['data', 'science', 'machine','learning']
value = [4,8,6,10]

dic1 = {i:j for i, j in zip(words,value)}
print(dic1)

{'data': 4, 'science': 8, 'machine': 6, 'learning': 10}

### Array

an array is a data structure used to store a collection of items. However, in Python, we usually work with lists instead of arrays. Lists can hold elements of different data types, but an array in Python (from the array module) is more efficient when dealing with large amounts of data of the same type (like integers or floats).

**Array in Simple Terms:**
An array is like a box that can hold multiple items (numbers, strings, etc.) in a specific order.
All items in an array are of the same type (e.g., all integers or all floats).


**Why is it Used?**
Efficiency: Arrays use less memory than lists and are faster when you need to work with large amounts of data.

Type Consistency: Arrays can store only one type of data (e.g., all integers), making them useful when you need to perform operations on data of the same type.

When you need to store and manipulate large datasets with values of the same type (e.g., numbers).

If you need better performance (memory efficiency and speed) compared to lists.

In [152]:
from array import*
stu_roll = array('i',[])
print(stu_roll)

array('i')

In [153]:
from array import*
stu_roll = array('i',[10,20,30,40])
for i in stu_roll:
    print(i)

10
20
30
40

In [154]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
for i in range(n):
    print(i,"-",stu_roll[i])

0 - 10
1 - 20
2 - 30
3 - 40

In [155]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(i,"-",stu_roll[i])
    i =i+1

0 - 10
1 - 20
2 - 30
3 - 40

### Append

In [156]:
from array import*
stu_roll = array('i',[10,20,30,40])
stu_roll.append(60)
n = len(stu_roll)

i =0
while i<n:
    print(stu_roll[i])
    i+=1

10
20
30
40
60

In [157]:
stu_roll = array('i',[])
n = int(input("enter number of element"))

for i in range(n):
    stu_roll.append(int(input("enter the element:")))
    print(stu_roll)
    
for i in range(len(stu_roll)):
    print(stu_roll[i])

enter number of element 4
enter the element: 1

array('i', [1])

enter the element: 2

array('i', [1, 2])

enter the element: 3

array('i', [1, 2, 3])

enter the element: 4

array('i', [1, 2, 3, 4])
1
2
3
4

In [158]:
stu_roll = array('i',[])
n = int(input("enter the element:"))

i=0
j=0

while i<n:
    stu_roll.append(int(input("enter number:")))
    print(stu_roll)
    i+=1
    
while j<len(stu_roll):
    print(stu_roll[j])
    j+=1

enter the element: 5
enter number: 1

array('i', [1])

enter number: 2

array('i', [1, 2])

enter number: 3

array('i', [1, 2, 3])

enter number: 4

array('i', [1, 2, 3, 4])

enter number: 5

array('i', [1, 2, 3, 4, 5])
1
2
3
4
5

### Insert

In [159]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1
    
print("after insertion:")
stu_roll.insert(0,100)
stu_roll.insert(1,200)
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1

10
20
30
40
after insertion:
100
200
10
20
30
40

### POP

In [160]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
i=0
while i<n:
    print(stu_roll[i])
    i+=1
    
print("after pop:")
r = stu_roll.pop(1)
n = len(stu_roll)
i=0
while i<n:
    print("remove element",r)
    print(stu_roll[i])
    i+=1

10
20
30
40
after pop:
remove element 20
10
remove element 20
30
remove element 20
40

### index

In [161]:
stu_roll = array('i',[10,20,30,40])
print(stu_roll.index(20))

1

### Reverse

In [162]:
stu_roll = array('i',[10,20,30,40])
stu_roll.reverse()
print(stu_roll)

array('i', [40, 30, 20, 10])

### Extend

In [163]:
stu_roll = array('i',[10,20,30,40])
arr = array('i',[50,60,70,80])
stu_roll.extend(arr)
print(stu_roll)

array('i', [10, 20, 30, 40, 50, 60, 70, 80])

### Slicing

In [164]:
stu_roll = array('i',[10,20,30,40])
n = len(stu_roll)
for i in range(n):
    print(i,"-",stu_roll[i])
    
print('******')
stu_roll[0:3]

0 - 10
1 - 20
2 - 30
3 - 40
******

array('i', [10, 20, 30])

# Lambda function

A lambda function in Python is a small, anonymous (unnamed) function defined using the lambda keyword. It’s a quick way to create a function for simple operations, usually in a single line.

lambda arguments: expression

**Arguments:** The inputs to the function (like parameters).

**Expression:** The operation or value returned by the function.

Use lambda functions for simple, short operations, especially when passing them as arguments to functions like map(), filter(), and sorted().

Avoid them for complex logic or when it reduces code readability.

In [165]:
show = lambda x :print(x)
show(5)

5

In [166]:
add = lambda x,y: x+y
print(add(5,2))

7

In [167]:
sub = lambda x,y: x-y
print(sub(5,2))

3

In [168]:
add_sub  = lambda x,y: (x+y, x-y)
print(add_sub(5,2))

(7, 3)

In [169]:
lst1 = [10,20,30,'yash','aman',10.5,20.5]
new_lst = list(map(lambda x:x*2, lst1))
print(new_lst)

[20, 40, 60, 'yashyash', 'amanaman', 21.0, 41.0]

# Higher order fuction
## Map fuction

the map() function is used to apply a function to each item in an iterable (like a list, tuple, or string) and return a map object (which can be converted to a list or other iterable).

It takes two arguments:
A function that defines what to do with each element.

An iterable (like a list, tuple, etc.) whose elements the function will be applied to.

When you want to apply a function to all items in an iterable. For example, if you need to transform all elements of a list (e.g., square each number, convert strings to uppercase).

In [170]:
a = [10,20,30,40]

def inc(n):
    return n+2

result = list(map(inc,a))
print(result)
print(type(result))

for i in result:
    print(i)

[12, 22, 32, 42]
<class 'list'>
12
22
32
42

In [171]:
a = [10,20,30,40]


result = list(map(lambda n : n+2,a))
print(result)
print(type(result))

for i in result:
    print(i)

[12, 22, 32, 42]
<class 'list'>
12
22
32
42

In [172]:
a = [10,20,30,40]
b = [50,60,70,80]
result = list(map(lambda n,m: n+m, a,b))
print(result)
print(type(result))

for i in result:
    print(i)

[60, 80, 100, 120]
<class 'list'>
60
80
100
120

In [173]:
def square(x):
    return x*x

a = list(map(square, [1,2,3,4,5,6]))
print(a)

[1, 4, 9, 16, 25, 36]

## Filter function
 the filter() function is used to filter elements from an iterable (like a list, tuple, or set) based on a condition. It allows you to keep only those elements that meet a specific criterion.

The filter() function takes two arguments:

A function: This function defines the condition that each element of the iterable must meet. It should return True or False for each element.
An iterable: The iterable (like a list) that contains the elements you want to filter.

In [174]:
a = [10,20,30,40,50,60]

def high_marks(n):
    if n>=30:
        return True

result = list(filter(high_marks,a))
print(result)
print(type(result))

for i in result:
    print(i)

[30, 40, 50, 60]
<class 'list'>
30
40
50
60

In [174]:
a = [10,20,30,40,50,60]


result = list(filter(lambda n: (n>=30), a))
print(result)
print(type(result))

for i in result:
    print(i)

[30, 40, 50, 60]
<class 'list'>
30
40
50
60

In [175]:
a = [5,6,2,7,9,8,12,13,15]

def odd_check(num):
    if num%2!=0:
        return True
    
result = list(filter(odd_check,a))
print(result)


for i in result:
    print(i)

[5, 7, 9, 13, 15]
5
7
9
13
15

In [176]:
a = [5,6,2,7,9,8,12,13,15]
    
result = list(filter(lambda n: n%2!=0, a))
print(result)


for i in result:
    print(i)

[5, 7, 9, 13, 15]
5
7
9
13
15

In [177]:
def even_odd(num):
    if num%2==0:
            return True
        
lst1 = [1,2,3,4,5,6]
list(filter(even_odd, lst1))

[2, 4, 6]

## Reduce

The reduce() function in Python is part of the functools module, and it is used to apply a binary function (a function that takes two arguments) cumulatively to the items of an iterable (like a list or a tuple) to reduce it to a single value.

In [178]:
#Suppose you want to add all numbers in a list. You can do this using reduce():

from functools import reduce

numbers = [1, 2, 3, 4]

# Using reduce to sum all numbers in the list
result = reduce(lambda x, y: x + y, numbers)

print(result)  # Output: 10 (1 + 2 + 3 + 4)

10

In [179]:
from functools import reduce

a = [5,6,2,7,9,8,12,13,15]

result = reduce(lambda n,m: n+m, a)
print(result)

77

# Generator

A generator in Python is a special type of function that allows you to iterate over a sequence of values, but unlike regular functions, it does not return all values at once. Instead, it generates one value at a time as you loop through it, saving memory and improving performance.

**How a Generator Works:**
A generator is created using the yield keyword instead of return.

When a generator function is called, it returns a generator object, not the values themselves.

When you iterate over the generator, it produces values one by one using the yield keyword, pausing and resuming the function's state as needed.

**When to Use a Generator:**

When you need to process large amounts of data, and you want to minimize memory usage.
When you need to lazily generate values (i.e., produce values only when required).
When you're dealing with streams of data or potentially infinite sequences, and you want to process data piece by piece.

In [180]:
def var(a,b):
    yield a
    yield b
    
result = var(10,20)
print(result)

lst = list(result)
print(lst)
print(type(lst))

<generator object var at 0x7f0e00b10200>
[10, 20]
<class 'list'>

In [181]:
def var(a,b):
    yield a
    yield b
    
result = var(10,20)
print(result)
print(type(result))

print(next(result))
print(next(result))

<generator object var at 0x7f0e00aa8890>
<class 'generator'>
10
20

In [182]:
def show(a,b):
    while a<=b:
        yield a
        a+=1
    
result = show(1,6)
print(result)

print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

<generator object show at 0x7f0e00aa8740>
1
2
3
4
5
6

# Function

a function is a block of reusable code that performs a specific task. Functions allow you to break down your code into smaller, more manageable pieces, making your program more organized and easier to maintain. Functions can take inputs, process them, and return a result.

**Components:**

def: This keyword is used to define a function.

function_name: The name of the function. It should be descriptive and follow naming conventions.

parameters (optional): These are the inputs the function takes. Parameters are optional, and a function can have no parameters.

Code block: The actual code that is executed when the function is called.

return: This keyword sends a result back to the caller. It is optional; a function may not return anything.

**Why Use Functions:**

**Reusability:** You can use the same function in multiple places without repeating the code.

**Organization:** Functions help organize code into manageable pieces, making it easier to understand.

**Readability:** It improves code readability by breaking down a task into smaller, named steps.

**Avoiding Repetition:** You don’t need to write the same code multiple times for similar tasks.

**When to Use Functions:**

**When a task is repeated:** If you need to do something multiple times, put it in a function so you can call it whenever needed.

**To improve clarity:** Use functions to break down large programs into smaller parts with clear, meaningful names.

**When you want to pass different values:** Functions allow you to perform the same task with different inputs, which is flexible and efficient.

In [183]:
def add():
    x = 10
    y = 20
    c = x+y
    print(c)

In [184]:
add()

30

In [185]:
def add():
    x = 10
    y = 20
    c = x+y
    return c

In [186]:
add()

30

In [187]:
def add(y):
    x = 10
    c = x+y
    print(c)

In [188]:
add(20)

30

In [189]:
def add(y):
    x = 10
    c = x+y
    return c

In [190]:
value =add(20)
print(value)

30

In [191]:
def upcoming():
    print("welcome to python world!")

In [192]:
upcoming()
upcoming()

welcome to python world!
welcome to python world!

In [193]:
# sum of all even and odd numbers
def even_odd(lst):
    even_is = 0
    odd_is = 0
    
    for i in lst:
        if i%2==0:
            even_is = even_is+i
        else:
            odd_is = odd_is+i
            return even_is, odd_is

In [194]:
even_is,odd_is =even_odd([2,4,5,6,8,7,6,3,2,8])
print(even_is)
print(odd_is)

6
5

# Class and object


a class is like a blueprint for creating objects (specific instances of that class). It defines how objects should behave and what properties they should have.

**Attributes:** Variables that store data associated with the class.

**Methods:** Functions that define the behavior or actions of the class. Methods operate on attributes and provide functionality to the class.

**Very Simple Explanation of Class:**
Think of a class as a template or cookie cutter. Just like you can use a cookie cutter to make many cookies of the same shape, you can use a class to create many objects that share the same properties and behaviors.

**For example:**

A Dog class could define properties like the dog's name, age, and breed, and behaviors like barking or running. Each individual dog object would have its own specific name, age, and breed, but all dogs will have the same behaviors (barking, running).

A class is used to define objects with properties and behaviors.
Use it when you need to group related data and functions together, especially when your program grows larger.
Avoid it for simple tasks or when a function can achieve the same result without creating unnecessary complexity.

**Syntax**
A class is defined using the class keyword followed by the class name (which conventionally starts with a capital letter) and a colon. Inside the class, you can define the __init__() method (the constructor), attributes, and other methods.

**Key Concepts in Classes:**

__init__() method: The constructor method is called when a new instance of the class is created. It initializes the attributes of the object.

**self:** The self parameter refers to the instance of the class. It allows access to instance variables and methods.

**Instance:** An object created from the class is called an instance.

**Attributes:** These are variables that hold data for each instance of the class.

**Methods:** Functions defined inside a class that define the actions for the class instances.

## Object 

an object is simply an instance of a class. Think of a class as a blueprint, and an object is the actual "thing" created from that blueprint.

An object represents something you can interact with in your program.
It can hold data (like numbers, text, or other values) and functions (called methods) that operate on that data.

For example, imagine you have a Car class. The class defines what a car can do (like accelerate, brake) and what information it holds (like color, model, speed). Each car you create from the class is an object.

Object is an instance of a class that holds both data and methods.

It's used to model real-world things and make programs more organized, reusable, and maintainable.

Use objects when your program benefits from structuring data and behavior into "things" that can interact with each other. Avoid them for very simple tasks where a few functions may suffice.

In [ ]:
class Car:
    def __init__(self, color, model):
        self.color = color
        self.model = model
    
    def drive(self):
        print(f"The {self.model} car is driving!")

# Create an object of the class Car
my_car = Car("Red", "Toyota")

# Accessing object data
print(my_car.color)  # Output: Red
my_car.drive()  # Output: The Toyota car is driving!


# Car is the class (the blueprint).
# my_car is an object (a specific instance of a car).
# my_car.color and my_car.drive() are examples of interacting with the object's data and methods.

In [195]:
class Myclass(object):
    def show(self):
        print("i am a method")
x = Myclass()
x.show()

i am a method

In [196]:
class Myclass:
    def show(self):
        print("i am a method")
        
x =Myclass()
x.show()

i am a method

In [197]:
class Mobile:
    def __init__(self):
        self.model = 'Realme x'               #instance variable
        
    def show_model(self):
        print("Model:",self.model)            #accessing instance variable
        
realme = Mobile()
realme.show_model()

Model: Realme x

In [198]:
class Mobile:
    def __init__(self):
        self.model = "Realme x"
        
    def show_model(self):
        print("Model:",self.model)
        
realme = Mobile()
realme.model = "Realme Pro"

print(realme.model)
realme.show_model()

Realme Pro
Model: Realme Pro

## Constructor

a constructor is a special method used to initialize the state of an object when it is created. It is a method that is automatically called when an instance of a class is created. The constructor is typically used to set the initial values of an object's attributes.


What is a Constructor?

A constructor in Python is a method named __init__.It is defined inside a class and is called whenever a new object of that class is instantiated.

It is automatically called when a new object of a class is created.

It is used to assign values to the properties of the object or to perform any setup operations when the object is created.

In [199]:
class Mobile:
    def __init__(self,m):
        self.model = m
        
    def show_model(self,p):
        self.price = p
        print("Model:",self.model,"Price",self.price)
        
realme = Mobile("realme x")
realme.show_model(10000)
print(id(realme))
print()

redmi = Mobile("redmi x")
redmi.show_model(12000)
print(id(redmi))
print()

Nokia = Mobile("Nokia 1200")
Nokia.show_model(25000)
print(id(Nokia))
print()

Model: realme x Price 10000
139698117523920

Model: redmi x Price 12000
139698117523872

Model: Nokia 1200 Price 25000
139698117523680

In [200]:
class Mobile:
    def __init__(self,m,v=80):
        self.model = m
        self.volume = v
        
    def show_model(self,p):
        self.price = p
        print("Model:", self.model)
        print("Price:", self.price)
        print("volume:", self.volume)
        
# passing Argument to constructor
realme = Mobile('realme x')

# Accessing method from outside class
realme.show_model(1000)

Model: realme x
Price: 1000
volume: 80

# Pickling and unpickling

**Pickling:**

Pickling is the process of converting a Python object (like a list, dictionary, or even custom objects) into a byte stream (a format that can be saved into a file or sent over a network).

This allows you to store data and later retrieve it in the same state.

**Unpickling:**

Unpickling is the reverse process: it converts the byte stream back into the original Python object.
So after unpickling, you get back the exact Python object you had before pickling.

Why is it used?

Saving data: Pickling is useful when you want to save complex Python objects to a file or send them between systems.

Persistent storage: For example, if you’re working on a project and want to save your program’s state to resume later, you can pickle the objects and unpickle them when needed.


**Pickling:** Save data to a byte format.

**Unpickling:** Retrieve the data from the byte format.

**Use when:** Storing or transferring Python objects.

**Avoid when:** Dealing with untrusted data or needing cross-version compatibility.

In [201]:
#Pickling

import pickle

data = {"name": "Alice", "age": 25}

# Pickle the data into a byte stream and save it to a file
with open("data.pkl", "wb") as file:
    pickle.dump(data, file)

In [202]:
#Unpickling

import pickle

# Load the pickled data back into a Python object
with open("data.pkl", "rb") as file:
    loaded_data = pickle.load(file)

print(loaded_data)

{'name': 'Alice', 'age': 25}

In [203]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
        
with open('student.dat', mode='wb') as f:
    stu1 = Student('Rahul', 101, 'Rachi')
    
    pickle.dump(stu1, f)
    print('pickling done!')
    
with open('student.dat', mode= 'rb') as f:
    obj =  pickle.load(f)
    print('Unpickling done!')
    obj.disp()

pickling done!
Unpickling done!
name: Rahul Roll: 101 Address: Rachi

In [204]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
        
with open('student.dat', mode='wb') as f:
    stu1 = Student('Rahul', 101, 'Rachi')
    stu2 = Student('Raj', 102, 'bihar')
    pickle.dump(stu1, f)
    pickle.dump(stu2, f)
    print('pickling done!')
    
with open('student.dat', mode= 'rb') as f:
    obj =  pickle.load(f)
    obj = pickle.load(f)
    print('Unpickling done!')
    obj.disp()
    obj.disp()

pickling done!
Unpickling done!
name: Raj Roll: 102 Address: bihar
name: Raj Roll: 102 Address: bihar

In [205]:
import pickle
class Student:
    def __init__(self, name, roll, address):
        self.name = name
        self.roll = roll
        self.address = address
        
    def disp(self):
        print(f'name: {self.name} Roll: {self.roll} Address: {self.address}')
        
n = int(input("Enter Number of students:"))
with open('student.dat', mode= 'wb') as f:
    for i in range(n):
        name = input('Enter Student Name:')
        roll = int(input('Enter Roll:'))
        address = input('Enter Address:')
        stu1 = Student(name, roll, address)
        pickle.dump(stu1, f)
        
print('Pickling done!')

with open('student.dat', mode= 'rb') as f:
    while True:
        try:
            obj =  pickle.load(f)
            obj.disp()
        except EOFError:
            print('Done')
            break

Enter Number of students: 4
Enter Student Name: yash
Enter Roll: 101
Enter Address: mumbai
Enter Student Name: yogesh
Enter Roll: 102
Enter Address: indore
Enter Student Name: aman
Enter Roll: 103
Enter Address: delhi
Enter Student Name: sharad
Enter Roll: 104
Enter Address: pune

Pickling done!
name: yash Roll: 101 Address: mumbai
name: yogesh Roll: 102 Address: indore
name: aman Roll: 103 Address: delhi
name: sharad Roll: 104 Address: pune
Done

## Abstract Method

An abstract method in Python is a method that is declared in an abstract class but does not contain any implementation. Abstract methods must be implemented by any subclass of the abstract class. They are used to define a common interface for all the subclasses, but leave the actual implementation to be provided by the subclasses themselves.

In [206]:
from abc import ABC, abstractmethod

class Father(ABC):
    @abstractmethod
    def disp(self):
        pass
        
    
    def show(self):
        print('concrete Method')
        
class Child(Father):
    def disp(self):
        print("Child Class")
        print("Defining Abstract Method")
        
c = Child()
c.disp()
c.show()

Child Class
Defining Abstract Method
concrete Method

In [207]:
from abc import ABC, abstractmethod
class DefenceForce(ABC):
    @abstractmethod
    def area(self):
        pass
        
    def gun(self):
        print("Gun = AK47")
        
class Army(DefenceForce):
    def area(self):
        print("Army Area = land")
        
class AirForce(DefenceForce):
    def area(self):
        print("Airforce Area = sky")
        
class Navy(DefenceForce):
    def area(self):
        print("Navy Area = sea")
        
a = Army()
af = AirForce()
Nv = Navy()

a.gun()
a.area()
print()

af.gun()
af.area()
print()

Nv.gun()
Nv.area()
print()

Gun = AK47
Army Area = land

Gun = AK47
Airforce Area = sky

Gun = AK47
Navy Area = sea

# Encapsulation
### public protected private
#### __ private attribute  double underscore is private attribute
#### _protected attribute single underscore is protected attribute



Encapsulation in Python refers to the concept of bundling or grouping related variables (data) and methods (functions) inside a single unit, often called a class. It also means restricting direct access to some of the object's components, which is done using private and public attributes/methods.

In simpler terms, encapsulation allows you to hide the internal workings of an object from the outside world, providing a controlled way to interact with the object’s data.

How it works in Python:

Public Attributes/Methods: These can be accessed directly from outside the class.

Private Attributes/Methods: These are hidden and can’t be accessed directly from outside the class. They are usually marked with two underscores (e.g., __private_var).

In [208]:
class Employee:
    def __init__(self, name, project):
        self.name = name
        self.project = project
        
    def disp(self):
        print(self.name)
        print(self.project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [209]:
# Private variable
class Employee:
    def __init__(self, name, project):
        self.__name = name
        self.__project = project
        
        
emp = Employee("yash", 'ml analyse')
print(emp.__name)
#"we can't direct access private variable"

AttributeError: 'Employee' object has no attribute '__name'

In [210]:
# Private variable
class Employee:
    def __init__(self, name, project):
        self.__name = name
        self.__project = project
        
    def disp(self):
        print(self.__name)
        print(self.__project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [211]:
#Protected variable
class Employee:
    def __init__(self, name, project):
        self.name = name
        self._project = project
        
    def disp(self):
        print(self.name)
        print(self._project)
        
emp = Employee("yash", 'ml analyse')
emp.disp()

yash
ml analyse

In [212]:
class Employee:
    def __init__(self, name, project):
        self.name = name
        self._project = project
        
        
emp = Employee("yash", 'ml analyse')
print(emp._project)

ml analyse

## Exception Handling


exception handling is a way to deal with errors or unexpected situations in your program without crashing it. When something goes wrong (like trying to divide by zero or accessing a file that doesn't exist), Python throws an exception, which is like an alert telling you that something went wrong.

Instead of letting the program crash, you can handle these exceptions using try-except blocks.

In [213]:
a = 10
b = 5
c = a/b
print(c)
print('Rest of the code')

2.0
Rest of the code

In [214]:
a = 10
b = 0
c = a/b
print(c)
print('Rest of the code')

ZeroDivisionError: division by zero

In [215]:
a = 10
b = 5
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')
    
print('Rest of the code')

2.0
Rest of the code

In [216]:
a = 10
b = 0
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')
    
print('Rest of the code')

Division by zero not allowed
Rest of the code

In [217]:
a = 10
b = 5
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')


else:
    print('Inside else')
    
finally:
    print('Inside finally')
    
print('Rest of the code')

2.0
Inside else
Inside finally
Rest of the code

In [218]:
a = 10
b = 0
try:
    c = a/b
    print(c)


except ZeroDivisionError:
    print('Division by zero not allowed')

    

else:
    print('Inside else')
    
finally:
    print('Inside finally')

print('Rest of the code')

Division by zero not allowed
Inside finally
Rest of the code